{% extends 'content_page.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Route Planner{% endblock %}
{% block header %}
<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="container-alt toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Edit Popular</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center">

            <div id="prefetch" class="col-2">
            <form action="/planner/admin/" method="post">
            {% csrf_token %}
                <div class="list-group text-center">
                    {% for system in popular %}
                        {% if system %}
                        <li type="text" class="list-group-item"><input type="text" name="popular" class="form-control typeahead text-center" value="{{ system }}"></li>
                        {% else %}
                        <li type="text" class="list-group-item"><input type="text" name="popular" class="form-control typeahead text-center" value=""></li>
                        {% endif %}
                    {% endfor %}
                </div>
                <small class="form-text text-muted mt-2 text-center">Popular</small>
                <input type="submit" value="Submit" class="btn btn-block btn-primary mt-2">
            </form>
            </div>
       
    </div>
</div>
{% endblock %}
{% block trailing_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>

<script>
    var systems = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // url points to a json file that contains an array of country names, see
      // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
      prefetch: '../static/json/systems.json'
    });
    
    // passing in `null` for the `options` arguments will result in the default
    // options being used
    var $typeahead = $('#prefetch .typeahead').typeahead(null, {
      name: 'systems',
      source: systems
    }); 
</script>
{% endblock %}