{% extends 'content_page.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Route Planner{% endblock %}

{% block header %}
<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="col-xl-7 container-alt toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Route Planner</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Popular Destinations</h2>
            <input type="submit" class="mr-3 btn btn-primary" value="D-PNP9" onclick="buttonClick('D-PNP9');">
            <input type="submit" class="mr-3 btn btn-primary" value="GE-8JV" onclick="buttonClick('GE-8JV');">
            <input type="submit" class="mr-3 btn btn-primary" value="PZMA-E" onclick="buttonClick('PZMA-E');">
        </div>
        <div class="col-md-6">
            <h2>Create Your Own</h2>
            <div class="input-group" id="prefetch">
                <form class="form-inline" id="destinationForm" action="/planner/" method="post">
                    <div class="form-group mr-3 mb-2">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <input type="hidden" id="character_id" name="character_id" value="">
                    <input type="submit" id="destinationVerify" name="verify" value="Verify" class="btn btn-primary mb-2" onclick="document.getElementById('character_id').value = get_active_character();">
                    <input type="submit" id="destinationSubmit" name="generate" value="Generate" class="btn btn-primary ml-3 mb-2" onclick="document.getElementById('character_id').value = get_active_character();">
                    <small class="form-text text-muted mt-0">Please only input correct system names.</small>
                </form>
            </div>
        </div>  
    </div>
    {% if mapDisplay %}
    <div class="row justify-content-start mt-5">
        <div class="col-6">
            <object id="map" class="rounded" width="100%" height="100%" data="https://freeburn.xyz/map/?&path={{ dotlan }}" type="image/svg+xml">
            </object>
        </div>
        <div class="col">
            <h2 class="mb-0">{{ destination|default:"No Destination Set" }}</h2>
            <p class="text-muted mb-2">Number of jumps: {{ jumps|default:"No destination set." }}</p>
            {% if confirmButton %}
            <form id="confirmForm" action="/planner/" method="post">
                {% csrf_token %}
                {{ button }}
                <input type="hidden" id="character_id_confirm" name="character_id" value="">
                <input type="submit" id="destinationConfirm" class="mr-3 btn btn-primary" name="confirm" value="Set destination" onclick="document.getElementById('character_id_confirm').value = get_active_character();">
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block trailing_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"></script>
<script>
$(document).ready(function(){
   $(".active").removeClass("active");
   $("#route_planner").addClass("active");
});

function buttonClick(button) {
    document.getElementById('destinationInput').value = button;
    document.getElementById("character_id").value = get_active_character();
    document.getElementById('destinationForm').submit();
}

var systems = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // url points to a json file that contains an array of country names, see
  // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
  prefetch: '../static/json/systems.json'
});

// passing in `null` for the `options` arguments will result in the default
// options being used
var $typeahead = $('#prefetch .typeahead').typeahead(null, {
  name: 'systems',
  source: systems
});

var selected      = null;
var originalVal   = null;

// When the typeahead becomes active reset these values.
$typeahead.on("typeahead:active", function(aEvent) {
   selected       = null;
   originalVal    = $typeahead.typeahead("val");
})

// When a suggestion gets selected save that
$typeahead.on("typeahead:select", function(aEvent, aSuggestion) {
   selected = aSuggestion;
});

// Once user leaves the component and a change was registered
// check whether or not something was selected. If not reset to
// the original value.
$typeahead.on("typeahead:change", function(aEvent, aSuggestion) {
   if (!selected) {
      $typeahead.typeahead("val", originalVal);
   }

   // Do something with the selected value here as needed...
});   
</script>

{% endblock %}