{% extends 'content_page.html' %}
{% load static %}
{% block title %}Blue Donut{% endblock %}
{% block extra_styling %}
<style>
    .masthead {
    background: url('{% static 'img/donut.png' %}'); 
    background-size: 750px;
    background-repeat: no-repeat; 
    background-position: center 30px;
    }
</style>
{% endblock %}
{% block header %}
<div class="container-fluid">
    <div class="row align-items-center bg-primary py-5 masthead">
        <div class="container-alt toggles-ignore mx-auto py-5">
            <div class="py-2 text-center ">
                <h1 class="display-3 mb-0">
                    <span data-ng-bind="selected.palette.name" class="ng-binding">Blue Donut</span>
                </h1>
                <p class="lead mb-3"><span data-ng-bind="selected.palette.desc" class="ng-binding">Tools to help you live in the blue donut</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h2>Route Planner</h2>
            <p class="lead">Navigate via our jump bridge network</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'route_planner:planner' %}" role="button">Set destination</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Scans</h2>
            <p class="lead">Submit a local or directional scan</p>
            <p><a class="btn btn-lg btn-secondary disabled" href="#" role="button">Currently Disabled</a></p>
        </div>
        <div class="col-md-4 text-center">
            <h2>Appraisal</h2>
            <p class="lead">Instantly appraise your inventory</p>
            <p><a class="btn btn-lg btn-secondary disabled" href="#" role="button">Currently Disabled</a></p>
        </div>
    </div>
</div>
{% endblock %}