.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.form-control {
    color: rgb(208, 204, 197);
    background-color: rgb(24, 26, 27) !important;
    border-top-color: rgb(95, 95, 95);
    border-right-color: rgb(95, 95, 95);
    border-bottom-color: rgb(95, 95, 95);
    border-left-color: rgb(95, 95, 95);
}

.form-control:focus {
    color: rgb(208, 204, 197);
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* .tt-hint {
    color: #999;
} */

.tt-menu {
    /* used to be tt-dropdown-menu in older versions */
    width: 196px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: rgb(24, 26, 27) !important;
    border: 1px solid rgb(95, 95, 95);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    color: rgb(208, 204, 197);
    padding: 3px 12px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
    color: #fff;
    background-color: #375a7f;
}

.tt-suggestion p {
    margin: 0;
}

.header-link {
    color: white !important;
}

.module-table td {
    vertical-align: middle;
}

.contract-table td {
    vertical-align: middle;
}

.module-table tr.item {
    height: 75px;
}

.module-dropdown {
    padding: 0px;
}

.navbar-fill {
    flex-grow: 1;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff !important;
}

.module-accordion-header {
    padding: 0px;
}

.module-accordion-button {
    padding: 4px 8px 4px 8px;
}

.list-group-item {
    padding: 8px;
}

@media screen and (max-device-width: 640px) {
    .btn-copy-contract-link {
        display: none !important;
    }
}

html {
    overflow-y: scroll;
}

.jumbotron {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.btn-mini {
    height: 24px;
    padding: 0px;
}

.avatar {
    border-radius: 50%;
    margin-right: 7px;
}

.jumbotron-tabs {
    margin-top: 0px !important;
}

.nav-tabs {
    border: 0px;
}

.nav-link {
    border-top-color: transparent !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    margin-right: 0.25rem;
}

.btn-std-size {
    width: 60px;
}

#module-table {
    width: 100% !important;
}

@media (max-width: 767px) {
    h1 {
        font-size: 24pt !important;
    }
}
