.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    /* line-height: 60px; */
    background-color: #222222;
}

.extra-space {
    height: 80px
}

.list-group-item {
    text-align: center;
    padding: 8px;
}

.form-control {
    color: rgb(208, 204, 197);
    background-color: rgb(24, 26, 27) !important;
    border-top-color: rgb(95, 95, 95);
    border-right-color: rgb(95, 95, 95);
    border-bottom-color: rgb(95, 95, 95);
    border-left-color: rgb(95, 95, 95);
}

.form-control:focus {
    color: rgb(208, 204, 197);
}

.header-link {
    color: white !important;
}

.module-table td {
    vertical-align: middle;
}

.contract-table td {
    vertical-align: middle;
}

.module-table tr.item {
    height: 75px;
}

.module-dropdown {
    padding: 0px;
}

.navbar-fill {
    flex-grow: 1;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff !important;
}

.module-accordion-header {
    padding: 0px;
}

.module-accordion-button {
    padding: 4px 8px 4px 8px;
}

@media screen and (max-device-width: 640px) {
    .btn-copy-contract-link {
        display: none !important;
    }
}

html {
    overflow-y: scroll;
}

.jumbotron {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.btn-mini {
    height: 24px;
    padding: 0px;
}

.avatar {
    border-radius: 50%;
    margin-right: 7px;
}

.jumbotron-tabs {
    margin-top: 0px !important;
}

.nav-tabs {
    border: 0px;
}

.nav-link {
    border-top-color: transparent !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    margin-right: 0.25rem;
}

.btn-std-size {
    width: 60px;
}

#module-table {
    width: 100% !important;
}

@media (max-width: 767px) {
    h1 {
        font-size: 24pt !important;
    }
}