{% extends 'content_page.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Manager{% endblock %}

{% block header %}
<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="container-alt toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Management</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_styling %}
<style>
hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !IMPORTANT;
}
</style>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form id="updater" action="/manager/" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <h2 class="text-center"><i class="fas fa-edit mr-3"></i></i>Update Gates</h2>
                        <p>Query ESI for all of the jump gates and <b>replace</b> all of the gates in the database with the discovered ones.</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <input type="submit" id="update_gates" name="update_gates" value="Update" class="btn btn-block btn-primary">
                    </div>
                    <div class="col-2"></div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col">
                        <h2 class="text-center"><i class="fas fa-user-edit mr-3"></i></i></i>Update Characters</h2>
                        <p>Update the alliance and corporation for every character in the database. This will take some time.</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-2"></div>
                    <div class="col-8"> 
                        <input type="submit" id="update_characters" name="update_characters" value="Update" class="btn btn-block btn-primary">
                    </div>
                    <div class="col-2"></div>
                </div>
                {% block results %}{% endblock %}
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}

{% block trailing_js %}
<script>
$(document).ready(function(){
   $(".active").removeClass("active");
   $("#jump_bridges").addClass("active");
});

</script>
{% endblock %}