{% extends 'content_page.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Manager{% endblock %}

{% block header %}
<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="col-xl-7 container-alt toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Jump Gate Manager</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="alert alert-danger">
            <h4 class="alert-heading mt-3">Warning!</h4>
            <p>Currently this form relies heavily on the input being correct. Please exclusively copy/paste the wiki's code box full of the Ansiblex Jump Gates. Nothing more, nothing less.</p>
        </div>
        <h2>Update the Jump Gate List</h2>
        <p>Copy and paste the list from the wiki (found <a class="text-info" href="https://wiki.pleaseignore.com/logistics:jump_bridge_list">here</a>) into this text box and hit submit. 
        This will clear the current known jump gate table and fill it with these new ones.</p>
        <form action="/manager/" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form }}
            </div>
            <input type="hidden" id="character_id" name="character_id" value="">
            <input type="submit" value="Update list" class="btn btn-primary mt-2 mb-2">
        </form>
    </div>
</div>
{% endblock %}

{% block trailing_js %}
<script>
$(document).ready(function(){
   $(".active").removeClass("active");
   $("#jump_bridges").addClass("active");
   document.getElementById("character_id").value = get_active_character();
});

</script>
{% endblock %}