{% extends 'content_page.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block header %}
<div class="container-fluid d-flex flex-column ng-scope">
    <div class="row align-items-center bg-primary check-contrast py-5">
        <div class="container-alt toggles-ignore mx-auto">
            <h1 class="display-3 mb-0">
                <span data-ng-bind="selected.palette.name" class="ng-binding">Login</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <form id="scopes" action="/auth/login/" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <h2 class="text-center">Scope Selection</h2>
                        <p>Would you like to give us access to additional scopes so we can search your alliance's
                        jump gates and add them to our tool?</p>
                        <div class="custom-control custom-checkbox text-center">
                            <input type="checkbox" name="approve" class="custom-control-input" id="approve">
                            <label class="custom-control-label" for="approve">Search and read structures</label>
                        </div>
                        <div class="text-center mt-3">
                            <a class="btn btn-secondary text-center" data-toggle="collapse" href="#collapse_info" role="button">
                                Additional information
                            </a>
                        </div>
                        <div class="collapse mt-3" id="collapse_info">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <p class="card-text">Checking this box means you will give us access to the following scopes:
                                        <ul>
                                            <li>esi-search.search_structures.v1</li>
                                            <li>esi-universe.read_structures.v1</li>
                                        </ul>
                                    We use these scopes to search the structures you can see through ESI for the
                                    ">>" character found in all Ansiblex Jump Gate names, as well as a letter following
                                    it because ESI has some weird limitations on how many results it will return. </p>

                                    <p class="card-text">This process can be seen in 
                                    <a class="text-info" href="https://github.com/Aimsucks/blue_donut/blob/master/jump_bridges/backend.py">this file</a>.</p>

                                    <p class="card-text">However, this scope gives us access to read <i>every single one</i> of the structures 
                                    you have access to. Because of that, we are giving you the ability to choose whether
                                    you trust us with that kind of power.</p>

                                    <p class="card-text">Blue Donut is and always will be 100% open-source. The code running on the website is
                                    available on 
                                    <a class="text-info" href="https://github.com/Aimsucks/blue_donut">GitHub</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <input type="submit" id="login" name="login" value="Continue to EVE SSO" class="btn btn-block btn-primary">
                    </div>
                    <div class="col-2"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}